<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="outer">
    <div>
        <h1>Admin Center</h1>
        <hr>
    </div>
    <p class="greeting" th:text="'Hello, administrator ' + ${username}"></p>
    <div class="button-container">
        <h2>Management Center</h2>
        <a th:href="@{/addClassPage}">
            <button class="button-80">Add Course To Database</button>
        </a>
        <a th:href="@{/deleteClassPage}">
            <button class="button-80">Delete Course From Database</button>
        </a>
        <a th:href="@{/searchClassPage}">
            <button class="button-80">Search Class</button>
        </a>
        <a th:href="@{/newOrderPage}">
            <button class="button-80">Order Management</button>
        </a>
        <a th:href="@{/manageStudents}">
            <button class="button-80">Manage Students</button>
        </a>
    </div>
    <button class="user-account-button" onclick="toggleUserMenu()">&#9776;</button>

    <!-- User account menu options -->
    <div class="user-account-menu" id="userMenu">
        <a href="#">
            Change Username
        </a>
        <a href="#">
            Change Password
        </a>
        <a th:href="@{/logout}">
            Sign Out
        </a>
    </div>
</div>
</body>
<script>
    function toggleUserMenu() {
        var menu = document.getElementById("userMenu");
        if (menu.style.display === "block") {
            menu.style.display = "none";
        } else {
            menu.style.display = "block";
        }
    }
</script>
</html>
