<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Portal</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.7.0/angular-route.min.js"></script>
</head>
<body>
<div class="outer">
    <div>
        <img src="/img/logo.png">
        <hr>
    </div>

    <p class="greeting" th:text="'How\'s going, ' + ${username}"></p>

    <div ng-app="addCourseStuApp" ng-controller="addCourseStuCont">
        <div class="button-container" >
            <a id="addCourseBtn">
                <button class="button-80">Add Course <img src="/img/add.png" width="30px" height="30px"> </button>
            </a>
            <a id="deleteCourseBtn">
                <button class="button-80">Delete Course</button>
            </a>
            <a id="searchBtn">
                <button class="button-80">Search Course</button>
            </a>
            <a th:href="@{/browseAllClassPage}">
                <button class="button-80">Browse All Courses</button>
            </a>
            <a>
                <button class="button-80">View My Courses</button>
            </a>
            <a>
                <button class="button-80">Contact Teacher</button>
            </a>
        </div>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Enter your Course ID:</p>
                <input class="niceInput" ng-model="id">
                <button ng-click="addCourseStu()">Add</button>
                <hr>

                <div ng-show="searchResult" class="sucAlert">
                    <p>{{searchResult}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="user-account-button" onclick="toggleUserMenu()">&#9776;</button>
<!-- User account menu options -->
<div class="user-account-menu" id="userMenu">
    <a href="#">
        Change Username
    </a>
    <a href="#">
        Change Password
    </a>
    <a th:href="@{/logout}">
        Sign Out
    </a>
</div>

</div>
<script src="/script/studentMP.js"></script>
<script>
    function toggleUserMenu() {
        const menu = document.getElementById("userMenu");
        if (menu.style.display === "block") {
            menu.style.display = "none";
        } else {
            menu.style.display = "block";
        }
    }
</script>

</body>
</html>
